#draggableItemBtn{
    background-color: rgb(131, 122, 122);
    color:white
}

.accordian-item-header {
    padding: 8px; /* Add some padding for better visual */
    border-radius: 4px; /* Slightly rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.accordian-item-header:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Subtle white background on hover */
}